* {
    font-family: 'Open Sans';
}
a {
    touch-action: manipulation;
} 
button {
    touch-action: manipulation;
}
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
.center-avatar {
    margin: auto;
}
.sidebar-user-padding {
    padding: var(--ion-safe-area-top, 0) 0 calc(var(--ion-safe-area-top, 0)/2) 0!important;
}
.spinnerCenter {
    width: 10%;
    height: 10%;
    display: block;
    margin: 0 auto;
}
.bg-app {
    --background: rgb(165,224,182);
    --background: -moz-linear-gradient(0deg, rgba(165,224,182,1) 8%, rgba(193,234,204,1) 42%, rgba(255,255,255,1) 100%);
    --background: -webkit-linear-gradient(0deg, rgba(165,224,182,1) 8%, rgba(193,234,204,1) 42%, rgba(255,255,255,1) 100%);
    --background: linear-gradient(0deg, rgba(165,224,182,1) 8%, rgba(193,234,204,1) 42%, rgba(255,255,255,1) 100%);
    --padding-end: 15px;
    --padding-start: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}
.menu-space { padding-top: 15px; }
.menu-space > ion-item {
    --padding-top: 5px;
    --padding-bottom: 5px;
}
.menu-space > ion-item:last-child { --border-width: 0!important; }
.no-scroll { --overflow: hidden; }
.menu-button {
    --color: black;
    font-size: small;
}
em {
    font-style: italic;
    color: rgb(153, 202, 167);
    padding-right: 5px;
}
.button-fit {
    --color: white !important;
    --background: rgb(156, 209, 171) !important;
    --background-activated: rgb(136, 179, 148) !important;
}
ion-menu > ion-footer { padding: 10px; }
#qr-code {
    --background: white;
}
#qr-code > svg {
    width: 100%!important;
    padding-top: 30px;
    padding-bottom: 15px;
}
.no-bg { background: none !important; }
ion-card {
    --background: white !important;
}