@import "css-reset.css";

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans',
        sans-serif;
}

/* BACKGROUND START */
.bg-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #f8fffa;
    background: -moz-linear-gradient(0deg, rgba(248, 255, 250, 1) 0, rgba(144, 226, 176, 1) 50%, rgba(248, 255, 250, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(248, 255, 250, 1) 0, rgba(144, 226, 176, 1) 50%, rgba(248, 255, 250, 1) 100%);
    background: linear-gradient(0deg, rgba(248, 255, 250, 1) 0, rgba(144, 226, 176, 1) 50%, rgba(248, 255, 250, 1) 100%);
    z-index: 5
}

.bottom-circles,
.top-circles {
    width: 100vw;
    height: 50vh
}

.top-circles {
    display: flex;
    justify-content: flex-start;
    flex-direction: column
}

.bottom-circles {
    display: flex;
    justify-content: flex-end;
    flex-direction: column
}

.line {
    display: flex;
    justify-content: space-evenly
}

.circle {
    width: 15px;
    height: 15px;
    margin: 0;
    border-radius: 7.5px;
    background-color: #f8fffa;
    z-index: 6
}

/* BACKGROUND END */