w@import "background.css";

/* INPUT CONTAINER (FORM) START */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 530px;
    padding: 0;
    z-index: 100;
    background-color: #f7f7f7;
    border-radius: 2px;
    -webkit-box-shadow: -2px 2px 16px -5px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: -2px 2px 16px -5px rgba(0, 0, 0, 0.32);
    box-shadow: -2px 2px 16px -5px rgba(0, 0, 0, 0.32);
}
.flex-container {
    display: flex;
    flex-flow: column;
    height: 530px;
}
.form-logo {
    width: 100px;
    height: auto;
    margin: 45px auto;
}
.form-logo > img {
    width: 100%;
    height: auto;
}
.form-input {
    flex: 2;
    margin: auto 40px;
    margin-top: 10px;
}
.form-input > input[type = email] {
    border-radius: .25rem .25rem 0 0;
}
.form-input > input[type = password] {
    border-radius: 0 0 .25rem .25rem;
}
.checkbox {
    margin: 20px auto;
}
button[type=submit] {
    margin: 20px auto;
}
a {
    margin-top: 60px!important;
    color: white!important;
    cursor: pointer;
}
/* INPUT CONTAINER (FORM) END */
