{% extends 'base.html.twig' %}
    
 {% block title %} Instalar APP {% endblock %}
    
 {% block body %}
    
    Deve instalar a APP no telemóvel / tablet
    <br>
    Visite <a href="/app">fitsportbalsem.pt/app</a> no seu telemóvel.
    
 {% endblock %}